<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="Black" params="link" >
        <gazebo reference="${link}" >
            <material>Gazebo/FlatBlack</material>
        </gazebo>
    </xacro:macro>

    <xacro:macro name="Grey" params="link" >
        <gazebo reference="${link}" >
            <material>Gazebo/Gray</material>
        </gazebo>
    </xacro:macro>

    <xacro:macro name="Blue" params="link" >
        <gazebo reference="${link}" >
            <material>Gazebo/Blue</material>
        </gazebo>
    </xacro:macro>

    <xacro:macro name="Wood" params="link" >
        <gazebo reference="${link}" >
            <material>Gazebo/WoodPallet</material>
        </gazebo>
    </xacro:macro>

    <xacro:macro name="joint_plugin" params="joint initial_value" >
        <joint name="${joint}">
            <command_interface name="position" />
            <state_interface name="position" >
                <param name="initial_value">${initial_value}</param>
            </state_interface>
            <state_interface name="velocity" />
        </joint>
    </xacro:macro>

    <xacro:macro name="joint_plugin_effort" params="joint initial_value" >
        <joint name="${joint}">
            <command_interface name="effort" >
            </command_interface>
            <state_interface name="position" >
                <param name="initial_value">${initial_value}</param>
            </state_interface>
            <state_interface name="velocity" />
        </joint>
    </xacro:macro>

    <xacro:Black link="base_link" />
    <xacro:Grey link="servo1_link" />
    <xacro:Black link="waist_link" />
    <xacro:Grey link="servo2_link" />
    <xacro:Black link="arm1_link" />
    <xacro:Grey link="servo3_link" />
    <xacro:Black link="arm2_link" />
    <xacro:Blue link="micro_servo1_link" />
    <xacro:Black link="arm3_link" />
    <xacro:Blue link="micro_servo2_link" />
    <xacro:Black link="gripper_base_link" />
    <xacro:Blue link="micro_servo3_link" />
    <xacro:Black link="gear2_link" />
    <xacro:Black link="gear1_link" />
    <xacro:Black link="up_right_gripper_link_link" />
    <xacro:Black link="up_left_gripper_link_link" />
    <xacro:Black link="down_right_gripper_link_link" />
    <xacro:Black link="down_left_gripper_link_link" />
    <xacro:Black link="right_gripper_link" />
    <xacro:Black link="left_gripper_link" />

    <xacro:Wood link="right_tower_link" />
    <xacro:Wood link="left_tower_link" />
    <xacro:Wood link="up_tower_link" />

    <ros2_control name="GazeboSimSystem" type="system">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware> 

        <xacro:joint_plugin joint="servo1_waist_joint" initial_value="0.0" />
        <xacro:joint_plugin joint="servo2_arm1_joint" initial_value="0.0" />
        <xacro:joint_plugin joint="arm1_servo3_joint" initial_value="0.0" />
        <xacro:joint_plugin joint="micro_servo1_arm3_joint" initial_value="0.0" />
        <xacro:joint_plugin joint="micro_servo2_gripper_base_joint" initial_value="0.0" />
        <xacro:joint_plugin joint="micro_servo3_gear2_joint" initial_value="0.785" />
        <xacro:joint_plugin joint="gripper_base_gear1_joint" initial_value="0.785" />
        <xacro:joint_plugin joint="gripper_base_up_right_gripper_link_joint" initial_value="0.785" />
        <xacro:joint_plugin joint="gripper_base_up_left_gripper_link_joint" initial_value="0.785" />
        <xacro:joint_plugin joint="gripper_base_down_right_gripper_link_joint" initial_value="0.785" />
        <xacro:joint_plugin joint="gripper_base_down_left_gripper_link_joint" initial_value="0.785" />
        <xacro:joint_plugin joint="gear2_right_gripper_joint" initial_value="0.785" />
        <xacro:joint_plugin joint="gear1_left_gripper_joint" initial_value="0.785" />
    </ros2_control>

    <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so" >
            <parameters>$(find sort_robotic_arm_description)/yaml/config_yaml.yaml</parameters>            
        </plugin>
    </gazebo>
</robot>
